/* Header */

header {
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.titulo-principal{
    /* margin: 30px; */
    padding-left: 30px;
    font-size: 40px;
    font-weight: bold;
    /* text-align: center; */
}

/* Main */

#banner{
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}

p{
    text-align: center;
    margin: 10px;
    font-size: 16px;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}
h3.titulo-centralizado {
    margin-bottom: 30px;
    font-size: 24px;
}
.items{
    font-style: italic;
    font-size: 16px;
    margin-bottom: 10px;
    list-style-type: disc;
}

.difereciales-lista{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

/* footer */

footer {
    text-align: center;
    background: url(./imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}